


.line-btn {
    min-height: 60px;
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 24px;
}

.filter {
    cursor: pointer;
    color: #31373D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #EFF1F6;
    border-radius: 100px;
    cursor: pointer;
}
.filter-btn {
    font-size: 10px;
    line-height: 16px;
    min-width: 74px;
    min-height: 40px;
    outline: none;
    width: 100%;
    border-radius: 100px;
    border: 1px solid #EFF1F6;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
